<div class="row-fluid">
	<div class="span10 offset1">
		<div class="hero-unit">
			<div class="row-fluid">
				<div class="span4">
					<p align="center">Ledetråd billede</p>
					<img class="lead-image" alt="Picture placeholder" src="">
				</div>
				<div class="span4" style="text-align:center;">
					<p align="center">Ledetråd lyd</p>
					@views.html.Internal.templates.audio()
				</div>
				<div class="span4">
					<div class="row-fluid">
						<p align="center">Godkendt?</p>
					</div>
					<div class="row-fluid">
						<div class="span6" style="text-align:center;">
							<input id="yes" type="button" class="center btn-large btn-success" value="Ja" />
						</div>
						<div class="span6" style="text-align:center;">
							<a id="no" href="#approve-lead-no" class="center btn-large btn-danger" data-toggle="modal" >Nej</a>
							<div id="approve-lead-no" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="approve-lead-no-label" aria-hidden="true">
							  <div class="modal-header">
							    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
							    <h3 id="approve-lead-no-label">Godkend ikke!</h3>
							  </div>
								  @helper.form(action = routes.InternalLead.disapproveLead) {
									  <div class="row-fluid">
							  	  		<div class="span10 offset1">
										  <div class="row-fluid">
										  	<p>Hvilke dele kan ikke godkendes?</p>
										  </div>
										  <div class="row-fluid">
											  <label class="checkbox">
									            <input type="checkbox" name="approve-lead-image" value="no" > Billede
									          </label>
										  </div>
										  <div class="row-fluid">
										  	<label class="checkbox">
								            	<input type="checkbox" name="approve-lead-audio" value="no" > Lyd
								          	</label>
										  </div>
										  <div class="row-fluid">
										  	<p>Besked til forfatter/fotograf</p>
										  </div>
										  <div class="row-fluid">
										  	<textarea id="approve-lead-comment" name="comment" rows="10" cols="1500"></textarea>
										  </div>
									  	</div>
									  </div>	
								  	  <div class="modal-footer">
									    <button class="btn" data-dismiss="modal" aria-hidden="true">Luk</button>
									    <input type="submit" class="btn btn-primary" value="Bekræft" />
									  </div>
									  	
								  }
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>