@(id: Int)
@helper.form(action = routes.InternalLead.renameLead, 'enctype -> "multipart/form-data") {
	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    	<h3 id="myModalLabel">Omdøb Ledetråd</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="hero-unit">
				<h4>Nyt navn</h4>
				<input type="text" name="rename-lead-name" value="" />
				<input type="hidden" name="rename-lead-id" value="@id" />
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Luk</button>
		<input type="submit" class="btn btn-primary pull-right" value="Gem" />
	</div>
}