@(leadId: Int, storyForm: Form[Lead])

@helper.form(action = routes.InternalFairyTale.updateLeadWithStory(leadId), 'enctype -> "multipart/form-data") {
	<div class="modal-body">
		<div class="row-fluid">
			<div class="hero-unit">
				@helper.inputText(leadForm("name"), '_label -> "LedetrŒd navn")
			  	@defining(leadForm("fairyTaleId")) { uidField =>
				  <input type="hidden" name="@uidField.name" id="@uidField.id" value="@fairyTaleId">
				}
				@defining(leadForm("imageFile")) { uidField =>
				  <input type="hidden" name="@uidField.name" id="@uidField.id" value="">
				}
				@defining(leadForm("soundFile")) { uidField =>
				  <input type="hidden" name="@uidField.name" id="@uidField.id" value="">
				}
				@defining(leadForm("priority")) { uidField =>
				  <input type="hidden" name="@uidField.name" id="@uidField.id" value="0">
				}
				@helper.inputFile(leadForm("leadImage"), '_label -> "Billede")
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Luk</button>
		<input type="submit" class="btn btn-primary pull-right" value="Gem" />
	</div>
}