.DS_Store
/public/fairytales
.target
logs
/bin
project/project
project/target
target
tmp
.history
dist
.cache
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/.metadata
/RUNNING_PID
/.settings
*.class
*.log
public/img/*

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
