@(fairyTale: FairyTale, leadForm: Form[Lead], userType: String, leadId: Int = -1, tab: String = "")
@Layout.internal_main("Magiske Byeventyr! - Intern brug") {
	<script type="text/javascript" src="@routes.Internal.javascriptRoutes"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/js-styling.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/leads.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/file-upload.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/unorm.js")"></script>
	@if(userType == "admin"){
		<script type="text/javascript" src="@routes.Assets.at("js/admin.js")"></script>
		<script type="text/javascript">
			var adminFairyTaleId = @fairyTale.id.get;
			var nextUnapprovedLead = null;
			$(function(){
				jsRoutes.controllers.InternalLead.getNextUnapprovedLead(adminFairyTaleId).ajax({
					success: function(response) {
						nextUnapprovedLead = response.nextLeadPriority;
					},
					error: function(data) {
						alert("An error occured: " + data);
					}
				});
			});
		</script>
	}
	<div class="row-fluid">
		<div class="span10 offset1">
			<h1>@fairyTale.name</h1>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span10 offset1 well">
			<b>Briefing:</b> @fairyTale.briefing 
		</div>
	</div>
	<div class="row-fluid" style="margin-bottom: 10px;">
		<div class="span7 offset1">
			<div id="map_canvas"></div>
		</div>
		<div class="span3">
			<ul id="sortable-leads" class="nav nav-list lead-list">
				@if(FairyTale.getLeads(fairyTale.id.get).length == 0){
					<li class="nav-header">Ingen ledetråde!</li>
				} else {
					<li class="nav-header">Ledetråde</li>
					@for((lead, idx) <- FairyTale.getLeads(fairyTale.id.get).zipWithIndex){
						<li model-id="@lead.id" model-priority="@lead.priority" model-lat="@lead.latitude" model-lng="@lead.longitude">
							<div class="dropdown" id="accountmenu">  
                        		<a class="dropdown-toggle" data-toggle="dropdown" href="#"><b class="caret"></b></a>  
                        		<ul class="dropdown-menu"> 
                            		<li><a href="#renameLeadModal@idx" data-toggle="modal"">Omdøb</a></li> 
                            		<li><a href="#deleteLeadModal@idx" data-toggle="modal"">Slet</a></li>
                        		</ul>  
                    		</div>
							@lead.name @if(lead.approved){<div class="icon-approved pull-right"></div>}
						</li>
						<div id="renameLeadModal@idx" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							@views.html.Internal.templates.rename_form(lead.id.get)
						</div> 
						<div id="deleteLeadModal@idx" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							@views.html.Internal.templates.delete_lead(lead.id.get)
						</div>
					} 
					<script type="text/javascript">
						$(function(){
							var leadId = @leadId;
							//If no lead was requested to begin with then load the first one
							if (leadId == -1) {
								$('.lead-list > li:nth-child(2)').click();
							} else {
								//Select the requested lead
								$('.lead-list > li[model-id=' + leadId + ']').click();
							}
						});
					</script>
				}
			</ul>	
			<div id="createLeadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  @views.html.Internal.templates.lead_form(fairyTale.id.get, leadForm)
			</div>
		</div>
	</div>    
	<div class="row-fluid">
		<div class="span8 offset1">
			<h1 id="lead-name"></h1>
		</div>
		<div class="span2">
			<a href="#createLeadModal" role="button" class="btn-small btn-primary pull-right" 
			    data-toggle="modal" style="margin-bottom: 20px">
			    Opret ledetråd
		    </a>
		</div>
	</div>
	@if(FairyTale.getLeads(fairyTale.id.get).length == 0){
	<div class="row-fluid">
		<div class="span10 offset1">
			<div class="hero-unit">
				<h2>Der er endnu ingen ledetråde knyttet til eventyret!</h2>
				<p>Tryk på knappen ovenfor og til højre for at oprette den første ledetråd.</p>
			</div>
		</div>
	</div>
	} else {
		@if(userType == "admin"){
			<div class="row-fluid">
				<div class="span10 offset1">
					<button type="button" class="btn-small btn-success" id="admin-approve-mode-toggle">Skift til godkendelses mode</button>
				</div>
			</div>
			@if(!fairyTale.published){
			<div id="approve" style="display:none;">
				@views.html.Internal.templates.lead_approve()
			</div>
			<div id="all-approved" style="display:none;">
				<div class="row-fluid">
					<div class="span10 offset1">
						<div class="hero-unit">
							@helper.form(action = routes.InternalFairyTale.publish, 'enctype -> "multipart/form-data") {
								<input type="hidden" name="id" value="@fairyTale.id.get">
								<h2>Alle ledetråde godkendt!</h2>
								<p>Tryk på knappen nedenfor for at offentliggøre eventyret.</p>
								<input type="submit" class="btn btn-success pull-right" value="Offentliggør" />
							}
						</div>
					</div>
				</div>
			</div>
			} else {
				<div id="all-approved" style="display:none;">
					<div class="row-fluid">
						<div class="span10 offset1">
							<div class="hero-unit">
							@helper.form(action = routes.InternalFairyTale.unpublish, 'enctype -> "multipart/form-data") {
								<input type="hidden" name="id" value="@fairyTale.id.get">
								<h2>Eventyret er offentliggjort!</h2>
								<p>Der kan stadig laves rettelser i eventyret i editerings mode.</p>
								<p>Rettelser til billeder eller lyd bliver straks udført i det offentliggjorte eventyr.</p>
								<p>Tryk på knappen nedenfor for at tilbagetrække eventyret.</p>
								<input type="submit" class="btn btn-danger pull-right" value="Træk tilbage" />
							}
							</div>
						</div>
					</div>
				</div>
			}
		}
		<div id="create">
			<div class="row-fluid">
				<div class="span10 offset1">
					<ul class="nav nav-tabs" id="fairyTaleTab">
				  		<li class="active"><a id="tabImage" data-toggle="tab" href="#images">Billede</a></li>
				  		<li><a id="tabStory" data-toggle="tab" href="#story">Historie</a></li>
				  		<li><a id="tabAudio" data-toggle="tab" href="#audio">Lyd</a></li>
					</ul>
					<script type="text/javascript">
						$(function(){
							//Select the correct tab if one's defined
							var tab = "@tab";
							if(tab == "story"){
								$('#tabStory').click();
							} else if (tab == "audio") {
								$('#tabAudio').click();
							}
						});
					</script>
				</div>
			</div>
			<div class="tab-content">
			  <div class="tab-pane active" id="images">
			  	<div class="span10 offset1">
			  		@helper.form(action = routes.InternalLead.updateLeadWithImage, 'enctype -> "multipart/form-data") {
						<input type="hidden" name="id" class="lead-id" value="">
					  	<div class="hero-unit">
					  		<div class="row-fluid">
				  				<div class="span8">
				  					<p align="center">Fysisk forankring</p>
			  						<textarea name="anchoring" id="image-anchoring" rows="10" cols="1500"></textarea>
				  				</div>
				  				<div class="span4">
				  					<p align="center">Billede</p>
			  						<img class="lead-image" alt="Picture placeholder" src="">
				  				</div>
				  			</div>
				  			<div class="row-fluid">
				  				@views.html.Internal.templates.upload("image_file","Push to upload image","pull-right","image/*")
							</div>
				  			<div class="row-fluid">
									<input type="submit" class="btn btn-primary pull-right" value="Gem" />
							</div>
					  	</div>
			  		}
			  	</div>
			  </div>
			  <div class="tab-pane" id="story">
			  	<div class="span10 offset1">
			  		<div class="hero-unit">
			  			@helper.form(action = routes.InternalLead.updateLeadWithStory, 'enctype -> "multipart/form-data") {
				  			<input type="hidden" name="id" class="lead-id" value="">
				  			<div class="row-fluid">
				  				<div class="span4">
				  					<p align="center">Billede</p>
			  						<img class="lead-image" alt="Picture placeholder" src="">
				  				</div>
				  				<div class="span8">
				  					<p align="center">Historie</p>
				  					<textarea name="story" id="story-story" class="lead-story" rows="10" cols="1500"></textarea>
				  				</div>
				  			</div>
				  			<div class="row-fluid">
				  				<input type="submit" class="btn btn-primary pull-right" value="Gem" />
				  			</div>	
						}
			  		</div>
		  		</div>
			  </div>
			  <div class="tab-pane" id="audio">
			  	<div class="span10 offset1">
			  		<div class="hero-unit">
			  			<div class="row-fluid">
			  				<div class="span4">
			  					<p align="center">Billede</p>
			  					<img class="lead-image" alt="Picture placeholder" src="">
			  				</div>
			  				<div class="span4">
			  					<p align="center">Historie</p>
			  					<textarea id="audio-story" class="lead-story" rows="10" cols="1500" readonly></textarea>
			  				</div>
			  				<div class="span4" style="text-align:center;">
			  					<p align="center">Lyd</p>
		  						@views.html.Internal.templates.audio()
			  				</div>
			  			</div>
			  			@helper.form(action = routes.InternalLead.updateLeadWithAudio, 'enctype -> "multipart/form-data") {
				  			<div class="row-fluid">
			  						<input type="hidden" name="id" class="lead-id" value="">
									@views.html.Internal.templates.upload("leadAudio","Push to upload audio","pull-right","audio/*")
		  					</div>
				  			<div class="row-fluid">
								<input type="submit" class="btn btn-primary pull-right" value="Gem" />
				  			</div>
	  					}
			  		</div>
		  		</div>
			  </div>
		  </div>
	}
	</div>
	<div id="confirmNavigationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmNavigationModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	    <h3>Ændringer er ikke gemt!</h3>
	  </div>
	  <div class="modal-body">
	  	<p id="confirmNavigationText"></p>
	  </div>
  	  <div class="modal-footer">
	    	<button class="btn" data-dismiss="modal" aria-hidden="true">Fortryd</button>
		    <input id="navigationConfirmed" type="button" class="btn btn-danger" value="Fortsæt uden at gemme" />
	  </div>
	</div>
} {
	<div class="row-fluid">		
		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="@routes.Application.index"></a>
		    <ul class="nav">
		      	<li><a href="@routes.InternalCustomer.customers">Kundeoversigt</a></li>
		    </ul>
		    <ul class="nav pull-right">				    	
		      	<li><a href="#">Indstillinger</a></li>
				<li><a href="@routes.Internal.logout">Logout</a></li>
		    </ul>
		  </div>
		</div>
	</div>
}