@(form: Form[(String,String)])

@Layout.internal_main("Magiske Byeventyr! - Intern brug") {
    @helper.form(routes.Internal.authenticate) {
    	<div class="row-fluid">
			<div class="span6 offset3">
				<div class="hero-unit">
					<h2>Log ind</h2>
					@form.globalError.map { error =>
		                <p class="error">
		                    @error.message
		                </p>
		            }
					@helper.inputText(form("email"), '_label -> "E-mail")
					@helper.inputPassword(form("password"), '_label -> "Password")	
					<input type="submit" class="btn btn-primary pull-right" value="Log ind" />
				</div>	
			</div>
		</div>            
	}    
} {
	<div class="row-fluid">
		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="@routes.Application.index"></a>
		  </div>
		</div>
	</div>
}


