/*Top navigation bar*/

.navbar,
.navbar-inner {
	height: 50px;
}

.navbar .nav>li>a {
	height: 30px;
}

.navbar-inner ul,
.navbar-inner li {
	height: inherit;
}

/*Google maps*/

#map_canvas {
	height: 300px;
}

/*Lead list*/
.lead-list {
	height: 290px;
	margin-bottom: 6px;
	overflow-y: auto;
	border: 1px solid rgb(153, 153, 153);
	border-radius: 4px;
}

.lead-list li:nth-child(n+2) {
	border-bottom: 1px solid rgb(153, 153, 153);
	border-radius: 4px;
	padding: 2px 0px 2px 0px;
	margin: 2px 0px 2px 0px;
	color: rgb(153, 153, 153);
}

.lead-list li.active {
	color: #fff;
	background-color: #006dcc;
}

.lead-list li:nth-child(n+2):hover {
	color: #fff;
	background-color: #006dcc;
	cursor: pointer;
}

.lead-list li.nav-header {
	border-bottom: 2px solid rgb(153, 153, 153);
	font-size: 14px;
}

.lead-list .dropdown {
	display: inline-block;
	padding-right: 8px;
	padding-left: 8px;
}

/*Admin approve mode*/
#admin-approve-mode-toggle {
	width: 100%;
	margin-bottom: 10px;
}

/* Lead image */
#images #image-anchoring,
#story #story-story,
#audio #audio-story {
	height: 170px;
	resize: none;
	width: 100%;
}

.lead-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* Lead story */
#story #story-story {
	height: 170px;
	resize: none;
	width: 100%;
}

/*Lead audio*/

#audio #audio-lead-story {
	height: 170px;
	resize: none;
	width: 100%;
}

#audio #audio-lead-picture {
	height: 180px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-radius: 4px;
}

/*File upload styling*/
.file {
    display: none;
    margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid;
	padding: 4px;
	border-radius: 4px;
	cursor: pointer;
}

/*Icons*/

.icon-approved {
	background-position: -288px 0px;
}

li.active .icon-approved {
	background-image: url("../img/glyphicons-halflings-white.png");
	background-position: -288px 0px;
}