.navbar .brand {
	height: 30px;
	width: 30px;
	background-image: url(images/logo.png);
	background-size:30px 30px;
	background-repeat:no-repeat;
	background-position:center;
}

.navbar li {
	padding-top: 10px;
}

.navbar li p {
	padding-top: 4px;
	padding-right: 6px;
}

.navbar .nav>li>a {
	padding: 6px 6px 6px 6px;
}

