@(content: String)

@Layout.external_main("Magiske Byeventyr!") {
    <p>This will contain all the available fairy tales presented in a pretty way!</p>
    @content
} {
	<div class="row-fluid">
		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="#">TODO: LOGO</a>
		    <ul class="nav">
		      	<li>Søg efter et byeventyr eller et sted: <input type="text" value="" /></li>
		    </ul>
		    <ul class="nav pull-right">				    	
		      	<li><a href="@routes.InternalCustomer.customers">Intranet</a></li>
		    </ul>
		  </div>
		</div>
	</div>
}